# dependencies
/node_modules

# output
/dist
/build

# production
.env

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/
*.swp

.treeignore
# testing
/coverage
/.nyc_output
# type checking
*.tsbuildinfo

# lock files (optional, if you don’t want to commit them)
# package-lock.json
# yarn.lock
# pnpm-lock.yaml

# Ignore all files inside uploads folders
/src/uploads/**/*
# But keep the folders
!/src/uploads/
/src/uploads/videos/**/*
!/src/uploads/videos/
/src/uploads/audios/**/*
!/src/uploads/audios/
/src/uploads/profiles/**/*
!/src/uploads/profiles/
